body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

amplify-authenticator {
  background: tomato;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}
:root {
  --amplify-primary-color: #6347ff;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}